html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-image: url(/static/images/heritage.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    background-origin: inherit;
    margin: 0;
    padding: 10px;
    height: 100%;
    font-size: 13pt;
    font-family: 'Montserrat',sans-serif;
}

table {
    word-wrap: break-word;
}

.section {
    background-color: #C1CFDA;
    position: relative;
    background-size: auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: 1px mediumslateblue;
}