<html>
	<head>
		<title>Error: Page Not Found</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <style>
        </style>
	</head>

	<body>
		
        <h1 style="text-align: center;">Error!</h1>
        <h3 style="text-align: center;">404:Page not found</h3>
	</body>
</html>
