<html>
<head>
    <title>Budaya KB Lite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            font-size: medium;
        }

        table {
            background-color: cadetblue;
        }

        .data-table {
            background-color: lightblue;
        }

        .button {
			cursor: pointer;
		}

        .box select {
            background:mediumslateblue;
            color: #fff;
            padding: 5px;
            width: 150px;
            height: 30px;
            border: none;
            font-size: 20px;
            box-shadow: 0 5px 25px rgba(0,0,0,.5);
            outline: none;
        }

        .box:before {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            background: mediumslateblue;    
        }

        .box:hover:before { 
            background: slateblue;
        }
    </style>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="section">
        <h2>Cari Budaya</h2>
        <hr />
        <form method="POST", action="" enctype = "multipart/form-data">
            <p>Cari berdasarkan:</p>
            <div class="box">
                <select name="selection">
                    <option value="nama">Nama</option>
                    <option value="tipe">Tipe</option>
                    <option value="prov">Provinsi</option>
                </select>
                <input type="text" name=input required>
                <input class="button" type="submit" value=Cari>
            </div>
        </form>
        {% if result is defined and result|length != 0 %}
        <h3>Ditemukan {{result|length}} data budaya dengan kata kunci "{{name}}"</h3>

        <table>
            <tr style="width: fit-content;">
                <th align="center">Nama</th>
                <th align="center">Tipe</th>
                <th align="center">Provinsi</th>
                <th align="center">URL</th>
            </tr>
            {% for item in result %}
            <tr class="data-table" style="width: fit-content;">
                <td>{{item.nama}}</td>
                <td>{{item.tipe}}</td>
                <td>{{item.prov}}</td>
                <td>{{item.url}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if result is defined and result|length == 0 %}
        <h4>Tidak ditemukan data budaya dengan kata kunci "{{name}}"</h4>
        {% endif %}
    </div>
    
</body>

</html>