<html>
<head>
    <title>Budaya KB Lite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
    <style>
        table {
            background-color:cadetblue;
            border-radius: 5px;
            color: white;
            border-width: 50px;
        }
        
        .button {
			cursor: pointer;
		}
    </style>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="section">
        <h2>Hapus Budaya</h2>
        <hr />
        <form method="POST", action="" enctype = "multipart/form-data">
            <p>Masukkan nama budaya yang ingin dihapus dari BudayaKB</p>
            <table>
                <tr>
                    <td>Nama:</td>
                    <td><input type="text" name=namabudaya required></td>
                </tr>
                <tr>
                    <td><input class="button" type="submit" value="Hapus Data"></td>
                </tr>
            </table>
        </form>

        {% if result is defined and result == 1 %}
        <h3>{{name}} telah dihapus</h3>
        {% endif %}

        {% if result is defined and result == 0 %}
        <h3>{{name}} tidak tersedia di BudayaKB</h3>
        {% endif %}

        {% if error is defined and error == "file" %}
        <h3>Anda belum mengimpor file</h3>
        {% endif %}
    </div>
    
</body>

</html>