<html>
	<head>
		<title>BudayaKB Lite</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
		<style>
			.button {
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		{% include 'includes/_navbar.html' %}
		<div class="section">
			<h2>Impor Budaya</h2>
			<hr />
			<form method="POST", action="" enctype = "multipart/form-data">
				<p>Pilih file CSV berisi data BudayaKB</p>
				<input type="file" name=file required>
				<input class="button" type=submit value="Import Data">
			</form>
		
			{% if result is defined and result >0: %}
			<h3>{{ result }} data budaya telah terimpor dari file "{{ fname }}"</h3>
			{% endif %}
			{% if error is defined and error == "file" %}
			<h3>File tidak ditemukan</h3>
			{% elif error is defined and error == "bukan-csv" %}
			<h3>Format file yang ada masukkan tidak sesuai</h3>
			{% endif %}

		</div>
		
	</body>
</html>



	
	
