<html>
	<head>
		<title>BudayaKB Lite</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	</head>

	<body>
		{% include 'includes/_navbar.html' %}
		<div class="section">
			<h1 style="text-align: center;">Selamat Datang di BudayaKB</h1>
			
			<p>Indonesia adalah negara yang kaya akan warisan budaya. Batik, misalnya, merupakan salah satu simbol warisan budaya Indonesia yang telah diakui oleh UNESCO sebagai intangible cultural heritage of humanity. Warisan budaya lainnya yang tidak kalah populer adalah Rendang, yang merupakan ikon kuliner Indonesia dan terpilih sebagai masakan terenak di dunia menurut CNN. Tentunya, masih banyak lagi warisan-warisan budaya Indonesia yang tak kalah menarik, mulai dari Tari Saman, sampai Upacara Kuk Kir Kna.</p>

			<p>Sistem BudayaKB merupakan sistem manajemen knowledge base (KB) untuk warisan budaya Indonesia. Sistem ini dikembangkan untuk melestarikan budaya Indonesia dan memiliki beberapa fitur penting, diantaranya: </p>
			<ol>
				<li>Mengimpor dan mengekspor data budaya</li><br/>
				<li>Mencari data budaya</li><br/>
				<li>Menambahkan, menyunting, dan menghapus data budaya</li><br/>
				<li>Menampilkan statistik data budaya</li><br/>
			</ol>
		</div>
		
	</body>
</html>
