<html>
<head>
    <title>BudayaKB Lite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
    <script src="https://kit.fontawesome.com/011abb014f.js" crossorigin="anonymous"></script>
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            font-size: medium;
        }

        table {
            background-color: cadetblue;
        }

        .data-table {
            background-color: lightblue;
        }

        .button {
				cursor: pointer;
        }

        .box select {
            background: mediumslateblue;
            color: #fff;
            padding: 5px;
            width: 150px;
            height: 30px;
            border: none;
            font-size: 20px;
            box-shadow: 0 5px 25px rgba(0,0,0,.5);
            outline: none;
        }

        .box:before {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            background: mediumslateblue;    
        }

        .box:hover:before { 
            background:slateblue;
        }
    </style>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="section"> 
        <h2>Stat Budaya</h2>
        <hr />
        <form method="POST" action="" enctype = "multipart/form-data">
            <p>Pilih kategori penggolongan statistik dari BudayaKB</p>
            <div class="box">    
                <select name="selection">
                    <option value="stat">All</option>
                    <option value="stattipe">Tipe</option>
                    <option value="statprov">Provinsi</option>
                </select>
                <input class="button" type="submit" value="Tampilkan Stat">
            </div>
        </form>
        
        {% if result is defined and result == True %}
        <h3>Ditemukan {{data|length}} hasil statistik</h3>
        
        <table>
            <tr style="width: fit-content;">
                <th align="center">{{type}}</th>
                <th align="center">Jumlah</th>
            </tr>
            {% for item,total in data %}
            <tr class="data-table" style="width: fit-content;">
                <td>{{item}}</td>
                <td align="center">{{total}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if result is defined and result != True %}
        <h3>Ditemukan {{data}} hasil statistik</h3>
        {% endif %}
    </div>    
    
</body>
</html>



	
	
