<html>
<head>
    <title>Budaya KB Lite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'newstyle.css') }}">
    <style>
        table {
            background-color:cadetblue;
            border-radius: 5px;
            color: white;
        }
        .button {
			cursor: pointer;
		}
    </style>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="section">
        <h2>Tambah Budaya</h2>
        <hr />
        <form method="POST", action="" enctype = "multipart/form-data">
            <p>Masukkan data yang ingin ditambahkan ke dalam BudayaKB</p>
            <table>
                <tr>
                    <td>Nama:</td>
                    <td><input type="text" name=namabudaya required></td>
                </tr>
                <tr>
                    <td>Tipe:</td>
                    <td><input type="text" name=tipebudaya required></td>
                </tr>
                <tr>
                    <td>Provinsi:</td>
                    <td><input type="text" name=provinsi required></td>
                <tr>
                    <td>URL:</td>
                    <td><input type="url" name=url required></td>
                </tr>
                <tr>
                    <td><input class="button" type="submit" value="Tambahkan Data"></td>
                </tr>
            </table>
        </form>

        {% if result is defined and result == 1 %}
        <h3>{{name}} telah ditambahkan</h3>
        {% endif %}

        {% if result is defined and result == 0 %}
        <h3>{{name}} sudah tersedia di BudayaKB, Silakan ubah data budaya dengan memilih Ubah Budaya di NavBar</h3>
        {% endif %}

        {% if error is defined and error == "file" %}
        <h3>Anda belum mengimpor file</h3>
        {% endif %}
    </div>
    
</body>

</html>